* {
  box-sizing: border-box;
  margin: 0;
  padding: 0px;
  font-family: Montserrat, sans-serif;
  color: #393939;
  text-decoration: none;
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
}

/*Body*/
.Body-container {
  padding-top: 90px;
}

/*Content*/
.Content-container {
  margin: 0px auto 100px auto;
  max-width: 1264px;
}

/*Catergory*/
.Catergories {
  background-color: #f4f3f1;
  text-align: center;
  padding: 10px;
  overflow: scroll;
  overflow-x: auto;
  overflow-y: hidden;
}

.Catergories-container {
  text-align: center;
  width: fit-content;
  margin: auto;
  white-space: nowrap;
}

.Catergories-container a {
  display: inline;
  color: #393939;
  margin: auto 16px auto 16px;
  font-size: calc(8px + 0.5vw);
  text-decoration: none;
}

/*Banner*/
.banner-container {
  max-width: 1264px;
  min-width: 720px;
  margin: 20px calc(16px + 2vw) 20px calc(16px + 2vw);
}

/*Collections*/
.Collections {
  margin: 0px calc(16px + 2vw) 0px calc(16px + 2vw);
  font-weight: bolder;
}

.Title-container {
  display: flex;
  margin: 0px 0px 5px 0px;
}

.Title-container img {
  height: 15px;
}

.Title-container h3, a {
  padding: 10px 0px 10px 0px;
}

.Title-container .See-all {
  color: #006340;
  padding: 10px;
}

.Title-container a:hover {
  background-color: #ededed;
}

.Help-container {
  width: fit-content;
  display: inline;
}

.Help-popup {
  display: none;
  width: 300px;

  margin: -130px 0 0 100px;

  background-color: #fff;

  border: solid;
  border-color: #ededed;
  border-width: 1px;
  border-radius: 3px;

  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);

  padding: 20px;
  font-size: medium;
  font-weight: 100;

  position:absolute;
}

.Help-container:hover .Help-popup {
  display: block;
}

.Spacer {
  flex-grow: 1;
}

.Collection-data {
  display: grid;
  column-gap: 0.5rem;
  grid-template-columns: repeat(5, 1fr);

  overflow: scroll;
  overflow-y: hidden;
  overflow-x: auto;

  margin: 0px 0px 20px 0px;
}

.Brand-image {
  max-width: 100%;
  min-width: 163px;
}
/*Product Suggestion*/
.Product-suggestion {
  margin: 0px 0px 20px 0px;
}

/*Product Card*/
.Product-card {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  column-gap: 1.5rem;

  overflow: scroll;
  overflow-x: auto;
  overflow-y: hidden;
}

.Product-card a {
  border: solid #ededed;
  min-width: 170px;
}

.Product-image {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  padding: 10px;
}

.Product-info {
  padding: 0px 10px 0px 10px;
}

.Product-info p{
  margin: 5px 0px 5px 0px;
  color: #c3c3c3;
  font-size: small;
  font-weight: 100;
}

.Product-info .Status {
  display: flex;
  width: fit-content;
  padding: 5px;
  background-color: #f4f3f1;
  margin: 5px 0px 0px 0px;
}

.Product-info .Status .Indicator {
  border-radius: 50%;
  margin: auto 5px auto 0px;
  background-color: #006340;
  height: 11px;
  width: 11px;
}